<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Take a Hike</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'take_a_hike_app/css/style.css' %}">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
            <div class="container">
            <a class="navbar-brand" href="#">Take a Hike</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Register
                        <span class="sr-only">(current)</span>
                        </a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
    <!-- Page Content -->
    <div class="container">
            <div class="card border-0 shadow my-5">
              <div class="card-body p-5">
                <h1 class="font-weight-light">Welcome to Take a Hike!</h1>
                <p class="lead">Please login.</p>
                <div class="row">
                        {% if messages %}
                        <ul class="messages">
                          {% for message in messages %} {% if "register" in message.tags %}
                          <div class="alert alert-{{ message.level_tag }}">
                            <li>{{ message }}</li>
                          </div>
                          {% endif %} {% endfor %}
                        </ul>
                        {% endif %}
                      </div>
                      <form action="/login_user" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="inputEmailLogin">Email</label>
                          <input
                            type="text"
                            class="form-control"
                            id="inputEmailLogin"
                            name="email_login"
                          />
                        </div>
                        <div class="form-group">
                          <label for="inputPasswordLogin">Password</label>
                          <input
                            type="password"
                            class="form-control"
                            id="inputPasswordLogin"
                            name="password_login"
                          />
                        </div>
                        <button type="submit" class="btn btn-info" name="login">
                          Login
                        </button>
                      </form>
  </body>
</html>